<div class="row">

  <%= render 'shared/sidebar' %>
  <div class="col-9" style="width: 81%; position: relative; left: 279px;">
    <div class="container">
    <div class="d-flex justify-content-between">
      <h1 class="p-1 d-flex align-items-center mt-3">Chat</h1>
    </div>

    <hr>


      <div class="container chatroom">
        <h1>#<%= @chatroom.name %></h1>

        <div class="messages">
          <% @chatroom.messages.each do |message| %>
            <div id="message-<%= message.id %>">
              <small>
                <strong><%= message.user.nickname %></strong>
                <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
              </small>
              <p><%= message.content %></p>
            </div>
          <% end %>
        </div>
        <%= simple_form_for [@chatroom, @message], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Say something in #{@chatroom.name}" %>
        <%end %>
      </div>

    </div>
  </div>
</div>
