<div class="row">

  <%= render 'shared/sidebar' %>
  <div class="col-9" style="width: 81%; position: relative;left: 279px;">
    <div class="d-flex justify-content-between">
      <h1 class="p-1 d-flex align-items-center mt-3">My Tickets #<%= current_user.tickets.count%></h1>
    </div>
    <hr>

      <%= link_to "New Ticket", new_ticket_path(@tickets) %>
      <div style="overflow: scroll">
      <% current_user.tickets.sort.reverse.each do |ticket| %>
      <div class="cards p-2 m-5">
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <p class="back"><i class="fas fa-ticket"></i></p>
            <p class="titulo-ticket"> Ticket #<%= ticket.id  %></p>
          </div>
          <div class="d-flex justify-content-between align-items-center px-2">
            <p style="padding: 20px;color: gray;"><%= ticket.created_at.strftime("%F %T")  %></p>
            <p ><i class="fas fa-ellipsis-h"></i></p>
          </div>
        </div>
      <h5 style="padding-left: 14px;color: #54afff;">Description:</h5>
      <p class="descrip"><%= ticket.description %></p>
      <div class="d-flex justify-content-between">
        <div class="p-4 d-flex justify-content-start">
          <%= image_tag("avatar.png", class:"mx-3 rounded-circle", style:"height: 30px; width: 30px; object-fit: cover; object-position: top;") %>
          <p><%= ticket.user.nickname %></p>
          </div>
            <div class="d-flex align-items-center justify-content-between mx-3" style="width:200px">
              <% case ticket.status %>
                <% when "En progreso" %>
                  <p class="en-progreso"><%= ticket.status %></p>
                <% when "Resuelto" %>
                  <p class="resuelto"><%= ticket.status %></p>
                <% when "Abierto" %>
                  <p class="abierto"><%= ticket.status %></p>
                <% when "Necesita reembolso" %>
                  <p class="rembolso"><%= ticket.status %></p>
              <% end %>
            <p class="m-0"><%= ticket.keeper.name %></p>
          </div>
        </div>
      </div>
    <%end %>
  </div>
  </div>
</div>
