<div class="row">
  <%= render 'shared/sidebar' %>
  <div class="col-9" style="width: 81%; position: relative; left: 279px;">
    <div class="container">
    <div class="d-flex justify-content-between">
      <h1 class="p-1 d-flex align-items-center mt-3">Tickets</h1>
      <%= render 'shared/searchform' %>
    </div>
    <hr>
    <table class="content-table" style="width:100%">
    <br>
        <thead class="" >
            <tr>
                <th><%= sort_link(@q, :id, "id", default_order: :desc) %></th>
                <th>Description</th>
                <th><%= sort_link(@q, :user, "User", default_order: :desc)%></th>
                <th><%= sort_link(@q, :status, "Status", default_order: :desc)%></th>
                <th><%= sort_link(@q, :created_at, "Created date", default_order: :desc)%></th>
                <th><%= sort_link(@q, :kepper, "keepers", default_order: :desc)%></th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <%= render 'shared/resultticket' %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <%= will_paginate @tickets %>
      </div>
  </div>
</div>
